spec/**/*.html linguist-generated
spec/app_rails3/db/**/* linguist-generated
spec/app_rails4/db/**/* linguist-generated
spec/app_rails5/db/**/* linguist-generated
spec/app_rails7/db/**/* linguist-generated
gemfiles/* linguist-generated
